<%= form_for @camper do |f| %>
<%= f.text_field :name %>
<%= f.number_field :age %>
<%= f.submit %>
<% end %>

<% if flash[:messages] %>
<% flash[:messages].each do |message|%>
    <li><%= message %></li>
    <% end %>
<% end %>